# Dependencies
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Lock files (optional to ignore in git, since npm will recreate)
/package-lock.json
/yarn.lock
/pnpm-lock.yaml

# Build artifacts
/dist
/build
*.tsbuildinfo

# System files
.DS_Store
Thumbs.db

# Editor/IDE configs
.vscode/
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln

# Env files
.env
.env.*
